# application compilation intermediate files

/Backup/.vs/*
/Backup/Backup.suo
/Backup/Backup/bin/Debug/app.publish
/Backup/Backup/Backup.csproj.user
/Backup/Backup/obj/*
/Backup/RemoteDriveAuth/bin/*
/Backup/RemoteDriveAuth/RemoteDriveAuth.csproj.user
/Backup/RemoteDriveAuth/obj/*



# test suite compilation intermediate files

/BackupTester/.vs/*
/BackupTester/BackupTester.suo
/BackupTester/FileUtilityTester/bin/*
/BackupTester/FileUtilityTester/FileUtilityTester.csproj.user
/BackupTester/FileUtilityTester/obj/*
/BackupTester/Tests/bin/*
/BackupTester/Tests/obj/*

# do not commit user's test refresh tokens (exposes account access)
#
#/BackupTester/Tests/resources/GoogleDriveRefreshToken.txt
#/BackupTester/Tests/resources/MicrosoftOneDriveRefreshToken.txt
#
# It can't be done here - instead, apply the following command to each file:
#     git update-index --assume-unchanged <path>
# i.e.
#     git update-index --assume-unchanged BackupTester\Tests\resources\GoogleDriveRefreshToken.txt
#     git update-index --assume-unchanged BackupTester\Tests\resources\MicrosoftOneDriveRefreshToken.txt



# code coverage intermediate files

#/Code Coverage Report/results*.xml



# test driver compilation intermediate files

/FileUtilityTester/.vs/*
/FileUtilityTester/FileUtilityTester.suo
/FileUtilityTester/FileUtilityTester/FileUtilityTester.csproj.user
/FileUtilityTester/FileUtilityTester/obj/*



# local utility scripts, etc.

Sync.cmd
Diff.cmd

link.URL
